nav{
    border-bottom: 1px solid;
    color:#3c8dbc;
}
a{
    color:#3c8dbc;
}
label{
    color:#3c8dbc;
}
.jumbotron{
    background-color: #FFFFFF;
}
.btn-primary {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
#toggle-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    height: -moz-available;          
    height: -webkit-fill-available;  
    height: fill-available;
    display: none;
    z-index: 1300;
}
.toggle-menu-inner {
    background-color: #FFFFFF;
    position: absolute;
    right: 0px;
    border: 1px solid #3c8dbc;
    border-radius: 10px;
    width: 150px;
    z-index: 1300;
    padding: 10px;
    margin-right: 10px;
}
a.nav-link{
    display: flex;
    align-items: center;
}
.margin-right-nav-item{
    margin-right: 5px;
}

.modal-body{
    color:#3c8dbc
}
.modal-body p{
    margin-bottom: 0px;
}