
nav{
    border-bottom: 1px solid;
    color:#3c8dbc;
}
a{
    color:#3c8dbc;
}
.navbar-brand
{
    margin-left: 2%;
}
.jumbotron{
    background-color: #FFFFFF;
}
.btn-primary {
    color: #fff;
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
